@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}





#profile-pic{
    border-radius: 50%;
;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

    padding: 100px;
}

/*
*
    Courtesy of http://cssdeck.com/labs/typing-animation
*
*/
/*p.typing{*/
/*background: #000;*/
/*color: lime;*/
/*}*/
p.typing{

    margin: 30px;
    white-space:nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 5s steps(50, end) 1;

}

@keyframes type{
    from{ width: 0;}
}

span.cursor{
    animation: blink 1s infinite;
}

@keyframes blink{
    to{ opacity: .0;}
}

/**********************************************************/
